/* ekleme formu css baslangic */

.form-subContainer {
  position: relative;
}
.none {
  display: none;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.4s ease, transform 0.5s ease-in-out;
  visibility: hiden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 99;
}

.modal {
  width: 25%;
  height: 50%;
  background: var(--white);
  position: fixed;
  top: 16%;
  bottom: 5%;
  margin-top: 10px;

  right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease, transform 0.5s ease-in-out;
  visibility: hiden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
  border-radius: 15px;
  transform: translateX(-50%, -50%);
}
.overlay.open,
.modal.open {
  visibility: visible;
  opacity: 1;

  transform: scale(1);
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--dark);
}

.closebtn:hover {
  color: #343333;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .form-item {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form .form-itemBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15%;
  padding-top: 10px;

  gap: 10px;
}
.form label {
  margin-top: 10px;
  font-weight: 500;
}

.form input[type="text"] {
  width: 100%;
  height: 30px;
  margin-top: 2px;
  border-radius: 12px;
  padding: 4px 6px;
  outline: none;
  border: none;
  border: 1px solid #d6d6d9;
}
.submit {
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  background: var(--maincolor);
}

.cancel {
  color: var(--maincolor);
  background: #f5f7ff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Media Querry */
@media screen and (max-width: 1300px) {
  .modal {
    width: 30%;
    height: 50%;
    background: var(--white);
    position: fixed;
    top: 20%;
    bottom: 5%;
    margin-top: 10px;

    right: 20%;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 40%;
    height: 56%;
    background: var(--white);
    position: fixed;
    top: 20%;
    bottom: 5%;
    margin-top: 10px;

    right: 15%;
  }
}
@media screen and (max-width: 700px) {
  .modal {
    width: 40%;
    height: 55%;
    background: var(--white);
    position: fixed;
    top: 22%;
    bottom: 5%;
    margin-top: 10px;

    right: 30%;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 70%;
    height: 60%;
    background: var(--white);
    position: fixed;
    top: 22%;
    bottom: 5%;
    margin-top: 10px;

    right: 15%;
  }
}
